# Server Port
PORT=5000

# Relational Database connection URL.
# By default, we use SQLite dev.db for portability and ease of demonstration.
# To switch to PostgreSQL, change provider in schema.prisma and update URL:
# DATABASE_URL="postgresql://johndoe:mypassword@localhost:5432/mydb?schema=public"
DATABASE_URL="file:./dev.db"

# JWT encryption secret key
JWT_SECRET="super-secret-key-for-hackathon-globetrotter"

# Allowed CORS client URL
FRONTEND_URL="http://localhost:5173"
